<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://nihalnavath.com/global.css">

    <title><%= title %></title>

    <meta name="twitter:card" content="summary">
    <meta property="og:title" content= "<%= title %>" >
    <meta property="twitter:title" content= "<%= title %>" >

    <meta name="description" content= "<%= description %>" />

    <meta property="og:description" content= "<%= description %>" />
    <meta property="twitter:description" content= "<%= description %>" />

    <meta property="og:image" content="<%= ImgUrl %>" />
    <meta property="twitter:image" content="<%= ImgUrl %>" />

    <meta http-equiv = "refresh" content = "0; url = https://www.youtube.com/watch?v=dQw4w9WgXcQ" />
</head>
<body class="text-center">
    <h1>please wait we are checking your browser...</h2>
    <small class="text-muted">hmm, still not redirected? <a href="https://youtu.be/dQw4w9WgXcQ">
        click here
    </a> for the link</small>
</body>
</html>